@import url('https://fonts.googleapis.com/css?family=Montserrat');

a{
    text-decoration: none;
    color: #ffffff;
}
body, ul, h1,h2,h3,h4{
    margin:0;
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

*:focus {outline:none}

.wrapper{
    max-width:1440px;
    margin: 0 auto;
}

.logo{
    max-height:60px;
}

button{
    background-color:transparent;
    cursor:pointer;
    margin:20px 0;
    border:1px solid #444;
    padding:5px 12px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    font-size:1.1em;
    transition: .3s;
}
button:hover{
    transform: scale(0.9);
    box-shadow: 0 0 4px 0 #F64C72, 0 2px 4px 0 #F64C72;
}

figure{
    margin:0;
}

.navbar{
    height:90px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: #2F2FA2;
}

.navbar--itemsContainer{
    list-style:none;
}

.navbar--itemsContainer--items{
    display: inline-block;
    padding:5px 0;
    margin:0 10px;
    transition: .3s;
    position:relative;
}

.active-link::after{
    content: "";
    position:absolute;
    width:100%;
    height:1px;
    bottom:0;
    left:0;
    background-color:#F64C72;
}

.navbar--itemsContainer--items::after{
    content: "";
    position:absolute;
    width:0;
    height:1px;
    bottom:0;
    left:50%;
    background-color:#F64C72;
    transition: .3s;
}

.navbar--itemsContainer--items:hover::after{
    width:100%;
    left:0;
}

.homepage--imgsection>div{
    padding:150px 0 0 100px;
}

.homepage--imgsection>div>h1{
    font-size:2.5em;
}

.regPage{
    min-height: calc(100vh - 90px);
    background-color: #F0F0F0;
    display: flex;
    align-items: flex-start;
    padding-top:100px;
}

.form-wrapper{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding: 100px 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}

.form-wrapper>form{
    padding: 50px 0;
}

.edit-project{
    position:relative;
}
.edit-project button{
    top:0;
    right:15px;
    bottom:auto;
}
form{
    text-align:center;
}

label{
    width: 80%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 0.8em;
    color: #2F2FA2;
}

label>span{
    color: red;
    opacity:0.6;
}

select{
    color: #aaa;
    height:40px;
    min-width:400px;
    padding-left:15px;
    border-radius:2px;
    border:none;
    border-bottom:1px solid #000000;
    font-size:1.1em;
}

textarea{
    resize: none;
}

input{
    height:40px;
    min-width:400px;
    padding: 15px;
    border-radius:2px;
    border:none;
    border-bottom:1px solid #000000;
    font-size:1.1em;
    transition:.3s;
}

input:focus{
    border-radius:5px;
    -webkit-box-shadow: 0px 1px 0px 0px #2F2FA2;
    -moz-box-shadow: 0px 1px 0px 0px #2F2FA2;
    box-shadow: 0px 1px 0px 0px #2F2FA2;
}


input::placeholder{
    color: #aaa;
}
input::-webkit-input-placeholder{
    color: #aaa;
}
input::-ms-input-placeholder{
    color: #aaa;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
    color: #aaa;
  }
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

  /*projects*/
  .exploreItems{
      padding: 100px 0;
  }

.exploreItems>header{
    display:flex;
    justify-content: center;
}

.exploreItems-container{
    padding-top:100px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.single-post{
    padding:20px;
    margin: 20px;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.08), 0 3px 5px 0 rgba(0,0,0,.12);
    transition: .3s;
    position:relative;
    min-height:400px;
}

.single-post:hover{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.08), 0 1px 5px 0 #F64C72;
}

.single-post button{
    position:absolute;
    bottom:20px;
    padding:8px 10px;
    cursor:pointer;
    background-color:#F5F5F7;
    color:#2F2FA2;
    font-size:1.1em;
    font-weight:500;
    border:none;
    border-radius:3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.08), 0 3px 2px 0 rgba(0,0,0,.12);
}

.single-post h5{
    text-align: center;
    color: #2F2FA2;
    font-size:1.2em;
}
.single-post>header{
    position:relative;
}
.single-post>header>img{
    max-height:260px;
}
.single-post>header::after{
    position: absolute;
    content: "";
    width: 90%;
    height: 3px;
    left: 5%;
    bottom: -5px;
    background-color: #F5F5F7;
}



.techTypeButtons--items{
    color:#444;
    margin:0 30px;
    font-size:1.2em;
    border:none;
    background:transparent;
    cursor:pointer;
    position:relative;
}

.techTypeButtons--items::after{
    content: "";
    position:absolute;
    width:0;
    height:1px;
    bottom:0;
    left:50%;
    background-color:#F64C72;
    transition: .3s;
}

.techTypeButtons--items:hover::after{
    width:100%;
    left:0;
}

.loadingBox{
    position:absolute;
    padding:50px;
    border-radius:3px;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items:center;
    color:#444;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}


/* project:id */


.project-wrapper{
    padding:50px 0;
    margin:0 auto;
    background-color:#FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}

.project-wrapper>header{
    position:relative;
    margin-bottom:50px;
    text-align: center;
    text-transform: capitalize;
}

.project-wraper--divide{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding:0 50px;
}

.project-wraper--divide>aside{
    min-width:200px;
    max-width:20%;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.project-wraper--divide>aside::before{
    position: absolute;
    content: "";
    width: 2px;
    left:-5px;
    height: 100%;
    background-color: #2F2FA2;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}

.project-wraper--divide>section{
    min-width: 500px;
    max-width: 80%;
}
.project-wraper--divide>section>p{
    max-width:90%;
}

.avatar {
    vertical-align: middle;
    width: 50%;
    height: auto;
    border-radius: 50%;
  }






  /*404*/
.infoPage{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
    text-align:center;
}
.infoPage>h1{
    font-size:3em;
}




/* my account */

.myAccount-welcome{
    text-align:center;
    padding:50px 0;
    position:relative;
}


.myAccount-wrapper{
    display:flex;
    flex-wrap: wrap;
    padding:50px 0;
}

.myAccount-wrapper>div{
    margin:0 auto;
    position:relative;
}

.btn--delete{
    position:absolute;
    bottom:0;
}

.myAccount-wrapper figcaption{
    text-align:center;
    padding:20px 0;
}

.myAccount-data{
    position:relative;
}
.myAccount-data::after{
    content: "";
    position:absolute;
    height:100%;
    width:1px;
    top:0;
    left:-50%;
    background-color:#F64C72;
}

.userAvatar{
    width:200px;
    height:200px;
    border-radius:100%;
}

.myAccount-yourProjects{
    padding: 50px;
    background-color:#F5F5F7;
}

.myAccount-skills{
    padding:0;
    list-style: none;
}

.myAccount-skills>li{
    line-height: 1.4;
    position:relative;
    font-weight:600;
}

.myAccount-skills>li::after{
    content: "";
    display: block;
    left: -10px;
    top: 5px;
    width: 2px;
    height: 10px;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    background-color: #2F2FA2;
    position: absolute;
}
.myAccount-skills>li::before{
    content: "";
    display: block;
    left: -10px;
    top: 10px;
    width: 2px;
    height: 10px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    background-color: #2F2FA2;
    position: absolute;
}